gunicorn==19.9.0
pandas==0.25.1
Flask==1.0.3
Flask-RESTful==0.3.7
scikit-learn==0.20.3 #https://stackoverflow.com/questions/74947762/modulenotfounderror-no-module-named-sklearn-linear-model-base-error-python
